.about-Us-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 20px;
    line-height: 26px;
  }

  img {
    width: 300px;
    height: 250px;
    margin-top: -175px;
    border-radius: 10px;

    @media (min-width: 768px) {
      width: 500px;
      margin-top: -200px;
    }
    @media (min-width: 992px) {
      width: 850px;
      height: 450px;
    }
  }

  span.highlight {
    font-weight: bold;
    font-size: 18px;
    color: rgb(167, 67, 210);
  }
  .card-cont {
    width: 300px;

    @media (min-width: 768px) {
      width: 500px;
    }
    @media (min-width: 992px) {
      width: 850px;
    }

    .card-tilt {
      padding: 15px;

      p {
        line-height: 28px;
        font-weight: 600;
      }
    }

    h2 {
      background: #4868d6;
      padding: 10px;
      color: white;
      text-align: center;
      margin-bottom: 25px;
      transform: skew(-13deg, -1deg);
    }

    .card-text {
      p {
        padding: 0 10px 10px;
      }
    }
  }
}
.about-Us {
  .layer3 {
    height: 300px;
    align-items: unset;
    border-radius: 20px 20px 0 0;

    @media (min-width: 768px) {
      height: 410px;
    }

    h1.bd-title {
      margin: 50px auto 30px;

      @media (min-width: 768px) {
        font-size: 50px;
        margin: 100px auto 30px;
      }
    }
  }
}
